

$color-black: #2D2D2D;
$color-grey: #8A8A8A;
$color-faded-grey: #E6E6E6;
$color-green: #9EC74A;
$color-red: #E02020;
$color-medium-grey: #D2D2D2;
$color-light-grey: #F3F3F3;
$color-white: #FFFFFF;
$color-light-orange: #FFBC9C;
$color-bg: #F2F2F2;

$font-weight-regular:400;
$font-weight-medium:500;
$font-weight-semibold:600;
$font-weight-bold:700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-regular: 'Nunito Sans Regular';
$font-black: 'Nunito Sans Black';
$font-semi-bold: 'Nunito Sans Semi Bold';