@font-face {
    font-family: 'Nunito Sans Regular';
    src: url('/assets/fonts/NunitoSans.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/NunitoSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/NunitoSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/NunitoSans.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
@font-face {
    font-family: 'Nunito Sans Black';
    src: url('/assets/fonts/NunitoSans.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/NunitoSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/NunitoSans-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/NunitoSans.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
@font-face {
    font-family: 'Nunito Sans Semi Bold';
    src: url('/assets/fonts/NunitoSans.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/NunitoSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/NunitoSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/NunitoSans.svg#svgFontName') format('svg'); /* Legacy iOS */
  }