<div class="interview-details-container">
  <div class="table-container">
    <div class="main-header">
      <span class="heading">Candidate Details</span>
      <span class="heading">Interview schedule</span>
      <span class="heading">Reference Check</span>
      <span class="heading">comments</span>
    </div>

    <div class="sub-header">
      <span class="empty-column"></span>
      <span class="slider-container">
        <img src="../../../assets/images/left-arrow.png" class="arrow" (click)="prevSlide()" />
        <ngx-slick-carousel #slickModal="slick-carousel" class="slider" [config]="slideConfig"
          (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">

          <div ngxSlickItem *ngFor="let slide of slides">
            <img src="{{ slide.img }}" alt="" class="slide-item">
          </div>
        </ngx-slick-carousel>
        <img src="../../../assets/images/right-arrow.png" class="arrow" (click)="nextSlide()" />
      </span>
      <span class="score-column">
        <span class="sub-title">Leads</span>
        <span class="sub-title">Captured</span>
      </span>
      <span class="empty-column"></span>
    </div>

    <div class="candidate-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="card-container" *ngFor="let item of candidates" cdkDrag>
        <div class="basic-data">
          <app-user-detail [userData]="item"></app-user-detail>
        </div>
        <div>
          <div class="candidate-actions">
            <div class="info-col">
              <img src="../../../assets/images/like.png" class="icon" />
              <p class="label">Hire</p>
              <p class="info">1 Jul 2018</p>
            </div>
            <div class="info-col">
              <p class="label">Awaiting Feedback</p>
            </div>
            <div class="info-col">
              <img src="../../../assets/images/unselected.png" class="icon" />
              <p class="label">Undecided</p>
              <p class="info">1 Jul 2018</p>
            </div>
            <div class="info-col">
              <img src="../../../assets/images/calendar.png" class="icon" />
              <p class="label">1 Jul 2018</p>
            </div>

          </div>
        </div>

        <div class="score-data">
          <span class="score">{{item.leads}}</span>
          <span class="score">{{item.captured}}</span>
        </div>
        <div class="comments-section">
          <app-editable-comments
            comment="Metus etiam. Platea aliquet vulputate. Egestas. Lacinia ultrices. Pharetra. Quisque odio morbi sod tea aliquet vulputate.teame">
          </app-editable-comments>
        </div>
      </div>
    </div>
  </div>
</div>
